<% layout('layouts/boilerplate') %>

    <a href="/customer/<%=User_id%>/home">Back to home</a>
    <br>
    <br>
    <div class="row">
        <div class="col-6">
            <% for(let i=0;i<result.length;i++ ){ %>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Bill No: <%= result[i].Bill_no %>
                                </h5>
                                <p class="card-text">Date: <%= result[i].Bill_date%>
                                </p>
                                <p class="card-text">
                                    <small class="text">Total Amount: <%= result[i].Total_amount %></small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>

    <a class="btn btn-info" href="/customer/<%=User_id%>/billsAbove100" role="button">Show bills which are above 100 &#8377;</a>
